*,
*::before,
*::after{
    box-sizing: border-box;

}
html,body{
    margin: 0;
    background-color: #1f2f56;
    color: #fff;
}

body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.grid
{
    background-color: #f5f7ff;
    height: 240px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

}

.grid div {
    height: 40px;
    width: 40px;

}

.player-one {
    border-radius: 50%;
    background-color: red;

}
.player-two {
    border-radius: 50%;
    background-color: blue;
    
}

